/* CSS declarations go here */

#crosshair {
  position: absolute;
  left:0px;
  top:0px;
  width: 100px;
  transition: left 0.3s,top 0.3s;
}

#frog {
  background: url(images/frog.jpg);
}

body {
  background: url(images/frog.jpg);
}
