<template name="menu">
  <div id="title">
    Spielauswahl
  </div>
  <div id="menu">
    <ul id='menu_lu'>
      {{#each games}}
        <li style="background-image: url(/{{path}}/{{img}});" gameid='{{id}}'>{{name}}</li>
      {{/each}}
    </ul>
  </div>
    <br/>
    <div id="leaderboard_title">
        Rangliste
    </div>
    <div id="leaderboard_div">
        <ul class="nav navbar-nav">
            {{#each player}}
                <li>{{name}}: {{time}}</li>
            {{/each}}
        </ul>
    </div>
</template>
