<template name="menu">
  <div id="title">
    Spielauswahl
  </div>
  <div id="menu">
    <ul id='menu_lu'>
      {{#each games}}
        {{> game_menu}}
      {{/each}}
    </ul>
  </div>
    <br/>
</template>

<template name='game_menu'>
  <li class='menu_li' path='{{path}}'>
    <div class='gameItem' style="background-image: url('{{img}}');">
      {{name}}
    </div>
    {{> highscores}}
  </li>
</template>

<template name="highscores">
  {{#if players.count}}
    <table>
      <tr><th>Pos.</th><th>Team</th><th>min:sec.ms</th></tr>
    {{#each players}}
      <tr class="leaderboard_li" >
        <th class='table_pos'>{{pos}}.</th>
        <td class='table_name'>{{name}}</td>
        <td class='table_time'>{{time}}</td>
      </tr>
    {{/each}}
    </table>
  {{/if}}
</template>
