<template name="menu">
  <div id="title">
    Spielauswahl
  </div>
  <div id="menu">
    <ul id='menu_lu'>
      {{#each games}}
          {{> menu_game}}
      {{/each}}
    </ul>
  </div>
    <br/>
</template>

<template name="menu_game">
    <div id="leaderboard_div" style="display:inline">
        <li style="background-image: url(/{{path}}/{{img}});" gameid='{{id}}'>
            {{name}}
            <ul class="nav navbar-nav">
                {{#each player}}
                    <li>{{name}}: {{time}}</li>
                {{/each}}
            </ul>
        </li>
    </div>
</template>