<template name="game">
  <div id='game'>
    {{#with game}}
      <div class="countdown">
          <span id="clock" style="z-index:10000000000">{{getTime}}</span>
      </div>
      <img id='background_img' src='/{{path}}/{{img}}'>
      <div id='gamegoal'></div>
      <img id='crosshair' src='/{{path}}/{{crosshair.url}}'>
      {{#each getCollectItems}}
        <img class='collect-item' src='{{img}}' style='left:{{x}}%;top:{{y}}%;width:{{width}}px'>
      {{/each}}
    {{/with}}
  </div>
</template>
