@gamegoal-color: white;
@gamegoal-opacity: 0.5;
@gamegoal-opacity-time: 1s;

@crosshair-xy-time: 0.4s;

@bgimg-time-in: 0.8s;
@bgimg-time-out: 0.5s;

@above-notie-zindex:  1000000000;

#game {
  .collect-item {
    position: absolute;
  }
  #crosshair {
    position: absolute;
    left:0px;
    top:0px;
    z-index: @above-notie-zindex+1;

    opacity: 0;
    transition: opacity 1s;
    &.show {
      opacity: 1;
      transition: opacity 1s,left @crosshair-xy-time,top @crosshair-xy-time;
    }
  }

  .countdown {
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
  }

  #gamegoal {
    position: absolute;
    opacity: 0;
    background-color: @gamegoal-color;
    border-radius: 50px;

    z-index: @above-notie-zindex; //above notie

    transition: opacity @gamegoal-opacity-time;
    &.show {
      opacity: @gamegoal-opacity !important;
      transition: opacity @gamegoal-opacity-time;
    }
  }

  #background_img {
    position: absolute;
    transition: left @bgimg-time-out, top @bgimg-time-out, width @bgimg-time-out , height @bgimg-time-out ;

    &.transform {
      left: 0px !important;
      top: 0px !important;
      width: 100% !important;
      height: 100% !important;
      transition: left @bgimg-time-in, top @bgimg-time-in, width @bgimg-time-in , height @bgimg-time-in ;
    }
  }
}
