@menu-font-size:  180%;
@menu-font-color: white;

body {
  background-color: #ddd;
}

.filter-grayscale(@scale) {
  -webkit-filter: grayscale(@scale);
  -moz-filter: grayscale(@scale);
  -ms-filter: grayscale(@scale);
  -o-filter: grayscale(@scale);
  filter: grayscale(@scale);
}

#title {
  font-size: 300%;
  font-weight: bold;
}
.highlight {
  font-weight: bold;
  color: red;
}
.selected .gameItem {
  .filter-grayscale(0%) !important;
}

#menu {
  ul {
    list-style-type: none;
    padding:0; margin:0;
    // float:right;
    white-space: nowrap;
    li {
      display: inline-block;;
      width: 200px;
      height: 100%;
      table {
        margin-left: 10px;
        margin-rigth: 10px;
        // text-align: right;
        width: 100%;
        .table_name {
          text-align: center;
        }
        .table_time {
          text-align: left;
        }
      }
      .gameItem {
        background-color: #CCC;
        background-size: 100% 100%;
        border-radius: 5px;
        margin: 10px;
        padding-left: 10px;
        padding-top: 20px;
        height: 160px;
        width: 200px;

        //font
        font-size: @menu-font-size;
        color: @menu-font-color;
        text-shadow: 2px 2px #000;
        font-weight: bold;
        //filter
        transition: filter 0.5s;
        .filter-grayscale(100%);
      }
      // .filter-grayscale(100%);
      // transition: filter 0.5s;
      // &.selected {
      //   .filter-grayscale(0%) !important;
      // }
    }
  }
  .leaderboard_ul {
    margin-top: 100px;
    margin-left: -40px;
  }
  .leaderboard_ul li.leaderboard_li {
    background-color: transparent !important;
    height: 0px;
    text-shadow: none !important;
  }
}
