<template name='editor'>
  <div id='menu'>
    <div id="title">
      Spiel Editor
    </div>
    <ul id='menu_lu'>
      {{#each games}}
        {{> showGames}}
      {{/each}}
      <li >
        <div class='gameItem newGame'>
          Neues Spiel
        </div>
      </li>
    </ul>
  </div>
  {{#each getConfig }}
    <div>
      Sounds:
      <button class='soundColected'>Collect Item Sound setzen</button>
      <button class='soundWin'>Erfolg Sound setzen</button>
      <button class='soundLose'>Misserfolg Sound setzen</button>
    </div>
    <div>
      SpielZeit:
      <input type='text' class='timeMin' maxlength='2' width='2' value='{{gameMin}}' >:
      <input type='text' class='timeSec' maxlength='2' width='2' value='{{gameSec}}' >
    </div>
    <div>
      Es werden die <input type='text' class='topTeamsCount' maxlength='2' width='2' value='{{topTeamsCount}}'> besten Teams angezeigt.
    </div>
  {{/each}}
  <div id='files' style='display: none;'>
    {{> file_sounds}}
  </div>
</template>

<template name='showGames'>
  <li >
    <div class='removeGame pointer'><img src='/close.svg' width='20px'></div>
    <div class='gameItem pointer' style="background-image: url(/{{path}}/{{img}});" gameid='{{id}}'>
      {{> Template.dynamic template=gameTitleTemplate }}
      <div class='gameId pointer'>Path:{{> Template.dynamic template=gameIdTemplate }}</div>
      <div class='gameOrder pointer'>Order:{{> Template.dynamic template=gameOrderTemplate }}</div>
    </div>
  </li>
</template>

<template name='showOrderNr'>
  <span>{{order}}</span>
</template>
<template name='changeOrderNr'>
  <input class='gameOrder' type='text' value='{{order}}'>
</template>

<template name='showGameId'>
  <span >{{id}}</span>
</template>
<template name='changeGameId'>
  <input type='text' class='gameId' value='{{id}}'>
</template>

<template name='showGameName'>
  <span class='gameTitle'>{{name}}</span>
</template>
<template name='changeGameName'>
  <input type='text' class='gameTitle' value='{{name}}'>
</template>
