<template name='editor'>
  <div id='menu'>
    <div id="title">
      Spiel Editor
    </div>
    <ul id='menu_lu'>
      {{#each games}}
        {{> showGames}}
      {{/each}}
      <li >
        <div class='gameItem newGame pointer'>
          Neues Spiel
        </div>
      </li>
    </ul>
  </div>
  {{#each getConfig }}
    <div>
      Geräusche:
      <button class='soundColected'>Einsammelton auswählen</button>
      <button class='soundWin'>Erfolgston auswählen</button>
      <button class='soundLose'>Misserfolgston auswählen</button>
    </div>
    <div>
      Standard Spielzeit:
      <input type='text' class='timeMin time' maxlength='2' width='2' value='{{gameMin}}' >:
      <input type='text' class='timeSec time' maxlength='2' width='2' value='{{gameSec}}' >
    </div>
    <button class='resetHighscore'>Alle Highscores zurücksetzen</button>
    <div>
      Es werden die <input type='text' class='topTeamsCount time' maxlength='2' width='2' value='{{topTeamsCount}}'> besten Teams angezeigt.
    </div>
  {{/each}}
  {{> file_sounds}}
  {{> file_drop}}
</template>

<template name='showGames'>
  <li >
    <div class='removeGame pointer'><img src='/close.svg' width='20px'></div>
    <div class='gameItem pointer' style="background-image: url('{{img}}');">
      {{> Template.dynamic template=gameTitleTemplate }}
      <div class='gameId pointer'>Pfad:{{> Template.dynamic template=gameIdTemplate }}</div>
      <div class='gameOrder pointer'>Sort.Nr.:{{> Template.dynamic template=gameOrderTemplate }}</div>
    </div>
  </li>
</template>

<template name='showOrderNr'>
  <span>{{order}}</span>
</template>
<template name='changeOrderNr'>
  <input class='gameOrder' type='text' value='{{order}}'>
</template>

<template name='showGamePath'>
  <span >{{path}}</span>
</template>
<template name='changeGamePath'>
  <input type='text' class='gameId' value='{{path}}'>
</template>

<template name='showGameName'>
  <span class='gameTitle'>{{name}}</span>
</template>
<template name='changeGameName'>
  <input type='text' class='gameTitle' value='{{name}}'>
</template>
